<li class="slide" style="background-image:url( '{{ slide.statistic_image }}' );" data-id="{{ slide.id }}">
	<div class="front">
		{{ dump(slide) }}
		<h5>{{ slide.display_date }}</h5>
		<h2>{{ slide.post_title }}</h2>
		<p>{{ slide.summary }}</p>
	</div> 		
	<div class="back">
	</div>
</li>