<section class="footer-heading">
	<h2>{{ header.heading }}</h2>
	<h4>{{ header.sub_heading }}</h4>
</section>
<ul class="footer-content">
	<li class="twitter">{{ twitter }}</li>
<li class="petition">{{ petition }}</li>
<li>{{ newsletter }}</li>
</ul>
<section class="footer-contact">
	{{ contact_menu }}
	{{ social_menu }}
</section>
<section class="footer-bottom">
	<div class="footer-sub">
		<span><strong>Bay Area Office / AG Design Group Inc.</strong></span>
		<span>925 Ygnacio Valley Road, Suite 103C/ Walnut Creek, CA 94596 / 925.954.7084</span>
	</div>
	<span class="copyright">&copy; 2013 {{site.name }} </span>
	<span class="designed by">{% include '/views/plugs/ag.html.twig' %}</span>
</section>
