<li class="slide" style="background-image:url( '{{ slide.statistic_image }}' );">
	<div class="front">
		<h2>{{ slide.statistic }}</h2>
		<h3>{{ slide.statistic_heading }}</h3>
		<p>{{ slide.statistic_excerpt }}</p>
	</div>
	<div class="back">
		<h4>Learn More About</h4>
		<h2>{{ slide.statistic_topic }}</h2>
	</div>
</li>